body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.course-details {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.price {
    font-size: 24px;
    color: #FF4500; /* Cor chamativa para o preço */
}

button {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Verde escuro */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
