body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.course-list {
    max-width: 800px;
    margin: 0 auto;
}

.course-list h2 {
    text-align: center;
    margin-bottom: 20px;
}

.course-item {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course-item h3 {
    color: #333;
}

.course-item p {
    color: #555;
}

button {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Verde escuro */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}